<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="webdesigntuts-workshop">
      <form action="/shorten" method="POST">		    
        <input type="text" placeholder="Enter the url to shorten">		    	
        <button>Shorten</button>
      </form>
    </section>
  </body>
</html>
